<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!--<add key="file" value="D:\home\site\wwwroot\app_data\ImageCompressor.Job.exe.csv"/>-->
    <add key="file" value="C:\Users\madsk\ImageCompressor.Job.exe.csv" />
    <add key="name" value="Azure Image Optimizer" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>