<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!--<add key="file" value="D:\home\site\wwwroot\app_data\ImageCompressor.Job.exe.csv"/>-->
    <add key="file" value="C:\Users\Phil\Desktop\resize\ImageCompressor.Job.exe.csv"/>
    <!-- The name that is shown as <h1> on the page -->
    <add key="name" value="Azure Image Optimizer" />
    <!-- This is the color of the logo image -->
    <add key="color" value="darkorange" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>