body {
    max-width: 960px;
    margin: 0 auto;
    font: 1em/1.1 arial;
}

nav ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

    nav ul li {
        display: inline;
    }

    nav ul li a{
        color: black;
        font-size: 1.3em;
        font-weight: bold;
        margin-right: 10px;
        text-decoration: underline; 
    }
