@media only screen and (max-width: 768px) {

    .grid tr:not(:last-child) td:first-child,
    .grid tr:not(:last-child) th:first-child {
        display: none;
    }
}

body {
    max-width: 960px;
    margin: 0 auto 2em auto;
    padding: 0 20px;
    font: 1em/1.1 arial;
}

header {
    position: relative;
    margin-bottom: 4em;
    padding-left: 170px;
    height: 83px;
    cursor: pointer;
}

    header h1 {
        padding: 20px 0;
    }

        header h1 a {
            color: black;
            text-decoration: none;
            font-size: 1.5em;
        }

    header svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 83px;
    }

        header svg path {
            fill: white;
        }

ul {
    list-style: none;
    padding: 0;
}

    ul li span {
        font-weight: bold;
        display: inline-block;
        width: 150px;
    }

.grid {
    width: 100%;
    border: none;
    line-height: 20px;
}

    .grid tr:nth-child(even) {
        background: #f1f1f1;
    }

    .grid tr:hover {
        background-color: rgba(70, 130, 180, 0.2);
    }

    .grid td,
    .grid th {
        border: none;
        border-left-style: none;
        border-right-style: none;
        text-align: right;
        padding: 2px 4px;
    }

        .grid th:nth-child(1),
        .grid th:nth-child(2),
        .grid td:nth-child(1),
        .grid td:nth-child(2) {
            text-align: left;
        }

    .grid a {
        color: black;
        text-decoration: none;
    }

        .grid a:hover {
            text-decoration: underline;
        }

    .grid tr:last-child {
        border-top: 1px solid gray;
        background: none;
    }

        .grid tr:last-child table {
            margin: 0 auto;
            font-weight: bold;
        }

            .grid tr:last-child table a {
                padding: 0 2px;
            }

    .grid table tr {
        border: none !important;
    }

        .grid table a:hover {
            text-decoration: underline;
            color: darkslategray;
        }

mark {
    color: red;
    background-color: #ffa9a9;
    border-radius: 4px;
    padding: 13px;
    margin: 5em auto;
    display: block;
    width: 250px;
    text-align: center;
}

#buttons {
    margin: 1em 0;
    text-align: right;
}