body {
    max-width: 960px;
    margin: 4em auto;
    padding: 0 1em;
    font: 20px 'century gothic';
}

nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1em;
}

header h1, header p {
    margin: 0;
}

h2 {
    font-size: 1.3em;
}

form {
    margin-top: 1em;
}

#menu {
    width: 100%;
    font-size: 20px;
    background: #f0f0f0;
    border-bottom: 1px solid #d8d8d8;
    position: absolute;
    top: 0;
    left: 0;
    padding: 13px 0;

}

    #menu a {
        text-decoration: none;
        font-weight: bold;
        color: darkslategray;
    }

    #menu ul {
        list-style: none;
        display: inline;
        margin-left: 1em;
    }

        #menu ul li {
            padding: 0 1em;
            display: inline-block;
            font-size: .8em;
        }

#default {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-width: 200px;
    -webkit-column-width: 200px;
    column-width: 200px;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    margin-top: 3em;
}

#default article {
    -webkit-column-break-inside: avoid;
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: darkslategray;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    z-index: 999;
}

    footer a {
        color: white;
    }
